USE [master]
GO
/****** Object:  Database [dbFT]    Script Date: 2023/3/23 下午 10:41:50 ******/
CREATE DATABASE [dbFT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbFT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbFT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbFT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbFT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbFT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbFT]
GO
/****** Object:  Table [dbo].[ActDetail]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActDetail](
	[活動ID] [int] IDENTITY(1,1) NOT NULL,
	[營區ID] [int] NULL,
	[活動方式] [nvarchar](30) NULL,
	[活動種類] [nvarchar](30) NULL,
	[活動名稱] [nvarchar](200) NULL,
	[開始日期] [datetime] NULL,
	[結束日期] [datetime] NULL,
	[預計人數] [int] NULL,
	[活動介紹] [nvarchar](500) NULL,
	[門票價格] [int] NULL,
	[活動圖片] [nvarchar](50) NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_tLocalCampaign] PRIMARY KEY CLUSTERED 
(
	[活動ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Camp]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camp](
	[營區ID] [int] IDENTITY(1,1) NOT NULL,
	[營區名稱] [nvarchar](20) NULL,
	[營區地址] [nvarchar](80) NULL,
	[地區] [nvarchar](10) NULL,
	[縣市] [nvarchar](10) NULL,
	[營區介紹] [nvarchar](300) NULL,
	[容納人數] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_tCampSite] PRIMARY KEY CLUSTERED 
(
	[營區ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampDetail]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampDetail](
	[營區細項ID] [int] IDENTITY(1,1) NOT NULL,
	[營區ID] [int] NULL,
	[活動ID] [int] NULL,
	[露營形式ID] [int] NULL,
	[詳細內容] [nvarchar](200) NULL,
	[圖片] [nvarchar](200) NULL,
	[單價] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_tCarPark] PRIMARY KEY CLUSTERED 
(
	[營區細項ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampStyle]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampStyle](
	[露營形式ID] [int] IDENTITY(1,1) NOT NULL,
	[項目內容] [nvarchar](50) NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_項目] PRIMARY KEY CLUSTERED 
(
	[露營形式ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberInfo]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberInfo](
	[會員ID] [int] IDENTITY(1,1) NOT NULL,
	[姓名] [nvarchar](50) NULL,
	[性別] [bit] NULL,
	[出生日期] [date] NULL,
	[電話號碼] [nvarchar](50) NULL,
	[連絡信箱] [nvarchar](50) NULL,
	[會員帳號] [nvarchar](50) NULL,
	[會員密碼] [nvarchar](50) NULL,
	[照片] [nvarchar](500) NULL,
	[權限] [bit] NULL,
	[建立時間] [datetime] NULL,
	[修改時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
 CONSTRAINT [PK_會員資料庫] PRIMARY KEY CLUSTERED 
(
	[會員ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentDetail]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentDetail](
	[租賃商店ID] [int] IDENTITY(1,1) NOT NULL,
	[產品名稱] [nvarchar](100) NULL,
	[產品說明] [nvarchar](300) NULL,
	[庫存] [int] NULL,
	[圖片] [nvarchar](500) NULL,
	[數量] [int] NULL,
	[單日租金] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_租賃商店] PRIMARY KEY CLUSTERED 
(
	[租賃商店ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelfFood]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelfFood](
	[自選飲食ID] [int] IDENTITY(1,1) NOT NULL,
	[圖片] [nvarchar](50) NULL,
	[需求人數] [int] NULL,
	[需求份數] [int] NULL,
	[商品名稱] [nvarchar](50) NULL,
	[商品內容] [nvarchar](300) NULL,
	[單價] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_自選飲食編號ID] PRIMARY KEY CLUSTERED 
(
	[自選飲食ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelfOrder]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelfOrder](
	[自選訂單ID] [int] IDENTITY(1,1) NOT NULL,
	[會員ID] [int] NULL,
	[自選訂單編號] [nvarchar](50) NULL,
	[入住時間] [datetime] NULL,
	[退住時間] [datetime] NULL,
	[露營天數] [int] NULL,
	[預計人數] [int] NULL,
	[營區細項ID] [int] NULL,
	[自選飲食ID] [int] NULL,
	[租賃商店ID] [int] NULL,
	[租借總價] [int] NULL,
	[自選訂單總價] [int] NULL,
	[評論] [nvarchar](500) NULL,
	[評分] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_自選訂單編號ID] PRIMARY KEY CLUSTERED 
(
	[自選訂單ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SetFood]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SetFood](
	[餐廳ID] [int] IDENTITY(1,1) NOT NULL,
	[餐廳名] [nvarchar](50) NULL,
	[餐廳電話] [nvarchar](50) NULL,
	[地址] [nvarchar](100) NULL,
	[餐點細項] [nvarchar](300) NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_set餐廳] PRIMARY KEY CLUSTERED 
(
	[餐廳ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SetOrder]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SetOrder](
	[套裝訂單ID] [int] IDENTITY(1,1) NOT NULL,
	[套裝行程ID] [int] NULL,
	[會員ID] [int] NULL,
	[套裝訂單編號] [nvarchar](50) NULL,
	[入住時間] [datetime] NULL,
	[退住時間] [datetime] NULL,
	[預計人數] [int] NULL,
	[合計總價] [int] NULL,
	[評論] [nvarchar](500) NULL,
	[評分] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_set訂單] PRIMARY KEY CLUSTERED 
(
	[套裝訂單ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SetOrderDetail]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SetOrderDetail](
	[套裝行程ID] [int] IDENTITY(1,1) NOT NULL,
	[營地ID] [int] NULL,
	[營區細項ID] [int] NULL,
	[餐廳ID] [int] NULL,
	[套裝方案] [nvarchar](300) NULL,
	[套裝細項] [nvarchar](300) NULL,
	[套裝行程價格] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_set行程] PRIMARY KEY CLUSTERED 
(
	[套裝行程ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopDetail]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopDetail](
	[商品細項ID] [int] IDENTITY(1,1) NOT NULL,
	[品牌名稱] [nvarchar](100) NULL,
	[產品名稱] [nvarchar](100) NULL,
	[產品說明] [nvarchar](300) NULL,
	[產品圖片] [nvarchar](500) NULL,
	[庫存] [int] NULL,
	[單價] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_購物商店] PRIMARY KEY CLUSTERED 
(
	[商品細項ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopOrder]    Script Date: 2023/3/23 下午 10:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopOrder](
	[商店ID] [int] IDENTITY(1,1) NOT NULL,
	[商品細項ID] [int] NULL,
	[會員ID] [int] NULL,
	[商店訂單編號] [nvarchar](50) NULL,
	[成立時間] [datetime] NULL,
	[細項] [nvarchar](1000) NULL,
	[總價] [int] NULL,
	[購物評價] [nvarchar](200) NULL,
	[購物評分] [int] NULL,
	[建立人] [nvarchar](50) NULL,
	[建立時間] [datetime] NULL,
	[修改人] [nvarchar](50) NULL,
	[修改時間] [datetime] NULL,
 CONSTRAINT [PK_購物訂單] PRIMARY KEY CLUSTERED 
(
	[商店ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActDetail] ON 

INSERT [dbo].[ActDetail] ([活動ID], [營區ID], [活動方式], [活動種類], [活動名稱], [開始日期], [結束日期], [預計人數], [活動介紹], [門票價格], [活動圖片], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, 9, N'景點', N'溫泉', N'宜蘭太平山鳩之澤溫泉', NULL, NULL, 10, N'走訪如仙境般的太平山國家森林', 200, N'94d7182a-15fb-482d-b5c8-f2689af256de.jpg', NULL, NULL, NULL, NULL)
INSERT [dbo].[ActDetail] ([活動ID], [營區ID], [活動方式], [活動種類], [活動名稱], [開始日期], [結束日期], [預計人數], [活動介紹], [門票價格], [活動圖片], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, 1, N'運動', N'攀岩', N'新北龍洞攀岩體驗', NULL, NULL, 10, N'熱血攀岩的同時，也能享受東北角海岸美景，登頂後，龍洞浩瀚的海岸線就在腳下', 300, N'180e801c-c929-475b-905e-51d28cc89e6f.jpg', NULL, NULL, NULL, NULL)
INSERT [dbo].[ActDetail] ([活動ID], [營區ID], [活動方式], [活動種類], [活動名稱], [開始日期], [結束日期], [預計人數], [活動介紹], [門票價格], [活動圖片], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, 3, N'文化', N'工作坊', N'多肉花式編織掛繩', NULL, NULL, 5, N'運用繩編的技巧組合創造不同織紋，搭配簡單造型的陶盆與垂墜式的多肉植物', 400, N'c66fdf6c-7f71-4cf3-80be-18957378a592.jpg', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ActDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Camp] ON 

INSERT [dbo].[Camp] ([營區ID], [營區名稱], [營區地址], [地區], [縣市], [營區介紹], [容納人數], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, N'福山緣營地', N'新北烏來區', N'北部', N'新北市', N'充滿翠綠草地及蟲鳴鳥叫聲，有著森林系之稱的露營地，林蔭圍繞滿滿大自然氣息以及大山泉戲水池', 150, NULL, NULL, NULL, NULL)
INSERT [dbo].[Camp] ([營區ID], [營區名稱], [營區地址], [地區], [縣市], [營區介紹], [容納人數], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, N'長青谷大自然園區', N'新北新店區', N'北部', N'新北市', N'新北沁涼溪流旁 團露同樂與大自然親密接觸', 250, NULL, NULL, NULL, NULL)
INSERT [dbo].[Camp] ([營區ID], [營區名稱], [營區地址], [地區], [縣市], [營區介紹], [容納人數], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, N'玉峰遇見嵨繞', N'新竹尖石', N'北部', N'新竹縣', N'宛如歌劇院觀賞般華麗景緻，一起跟著遇見嵨繞見證震撼於星空的浩瀚', 120, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Camp] OFF
GO
SET IDENTITY_INSERT [dbo].[CampDetail] ON 

INSERT [dbo].[CampDetail] ([營區細項ID], [營區ID], [活動ID], [露營形式ID], [詳細內容], [圖片], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, 5, 4, 2, N'九蛙秘境得天獨厚，在日月潭水社壩堤公園旁有絕佳的賞螢秘境', N'7303f8ff-d511-4dae-8388-428865756040.jpg', 2500, NULL, NULL, NULL, NULL)
INSERT [dbo].[CampDetail] ([營區細項ID], [營區ID], [活動ID], [露營形式ID], [詳細內容], [圖片], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, 1, 2, 2, N'充滿翠綠草地及蟲鳴鳥叫聲，有著森林系之稱的露營地，林蔭圍繞滿滿大自然氣息以及大山泉戲水池', N'444a7872-3c8b-4eda-8cd6-0e1049667f2c.jpg', 3000, NULL, NULL, NULL, NULL)
INSERT [dbo].[CampDetail] ([營區細項ID], [營區ID], [活動ID], [露營形式ID], [詳細內容], [圖片], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, 3, 3, 4, N'宛如歌劇院觀賞般華麗景緻，一起跟著遇見嵨繞見證震撼於星空的浩瀚', N'a0b558d1-de60-4460-a754-e9168953cb83.jpg', 3000, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CampDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[CampStyle] ON 

INSERT [dbo].[CampStyle] ([露營形式ID], [項目內容], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, N'露營車', NULL, NULL, NULL, NULL)
INSERT [dbo].[CampStyle] ([露營形式ID], [項目內容], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, N'懶人露營(有床)', NULL, NULL, NULL, NULL)
INSERT [dbo].[CampStyle] ([露營形式ID], [項目內容], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, N'懶人露營(無床)', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CampStyle] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberInfo] ON 

INSERT [dbo].[MemberInfo] ([會員ID], [姓名], [性別], [出生日期], [電話號碼], [連絡信箱], [會員帳號], [會員密碼], [照片], [權限], [建立時間], [修改時間], [修改人]) VALUES (1, N'陳奶油', 1, CAST(N'2011-07-07' AS Date), N'092234567', N'aws@gmail.com', N'aws', N'123', N'e97f01e9-7ba7-4198-a268-f6510b17da56.jpg', 1, NULL, NULL, NULL)
INSERT [dbo].[MemberInfo] ([會員ID], [姓名], [性別], [出生日期], [電話號碼], [連絡信箱], [會員帳號], [會員密碼], [照片], [權限], [建立時間], [修改時間], [修改人]) VALUES (2, N'陳瓊珠', 0, CAST(N'1978-08-09' AS Date), N'091212337', N'apple@gmail.com', N'apple', N'123', N'8bba2887-0797-4b6c-b52e-fb490b55bbbc.jpg', 1, NULL, NULL, NULL)
INSERT [dbo].[MemberInfo] ([會員ID], [姓名], [性別], [出生日期], [電話號碼], [連絡信箱], [會員帳號], [會員密碼], [照片], [權限], [建立時間], [修改時間], [修改人]) VALUES (3, N'田雅倫', 0, CAST(N'1982-10-05' AS Date), N'091334453', N'amoz@gmail.com', N'amoz', N'123', N'289ed93d-33c5-43a4-9a81-76da87b7f485.jpg', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MemberInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[RentDetail] ON 

INSERT [dbo].[RentDetail] ([租賃商店ID], [產品名稱], [產品說明], [庫存], [圖片], [數量], [單日租金], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, N'野營帳', N'老闆真心推薦好用', 999, NULL, 1, 700, NULL, NULL, NULL, NULL)
INSERT [dbo].[RentDetail] ([租賃商店ID], [產品名稱], [產品說明], [庫存], [圖片], [數量], [單日租金], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, N'收納箱', N'便宜好用且耐重', 999, NULL, 1, 120, NULL, NULL, NULL, NULL)
INSERT [dbo].[RentDetail] ([租賃商店ID], [產品名稱], [產品說明], [庫存], [圖片], [數量], [單日租金], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, N'月亮椅', N'耐重且耐看', 999, NULL, 1, 120, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RentDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[SelfFood] ON 

INSERT [dbo].[SelfFood] ([自選飲食ID], [圖片], [需求人數], [需求份數], [商品名稱], [商品內容], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, N'f5615427-cb86-43cd-a7f2-4d1f4d8f4545.jpg', 5, 3, N'日本和牛組合', N'霜降黑毛和牛、美國安格斯牛排', 5500, NULL, NULL, NULL, NULL)
INSERT [dbo].[SelfFood] ([自選飲食ID], [圖片], [需求人數], [需求份數], [商品名稱], [商品內容], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, N'e03b98f3-82cc-4830-9752-0d264b4fdee3.jpg', 10, 5, N'豪華海鮮組合', N'干貝、魷魚、蛤蠣、帝王蟹', 4800, NULL, NULL, NULL, NULL)
INSERT [dbo].[SelfFood] ([自選飲食ID], [圖片], [需求人數], [需求份數], [商品名稱], [商品內容], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, N'209148da-ff1c-42c1-b17b-d5bc5e172a7b.jpg', 8, 5, N'經典咖哩組合包', N'燉煮雞肉咖哩、醣心蛋、皮蛋豆腐、毛豆', 1200, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SelfFood] OFF
GO
SET IDENTITY_INSERT [dbo].[SelfOrder] ON 

INSERT [dbo].[SelfOrder] ([自選訂單ID], [會員ID], [自選訂單編號], [入住時間], [退住時間], [露營天數], [預計人數], [營區細項ID], [自選飲食ID], [租賃商店ID], [租借總價], [自選訂單總價], [評論], [評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, 5, N'sef001', CAST(N'2019-05-01T00:00:00.000' AS DateTime), CAST(N'2019-05-05T00:00:00.000' AS DateTime), 5, 10, 8, 5, 6, 2500, 18000, N'讓人感到非常放鬆自然', 4, NULL, NULL, NULL, NULL)
INSERT [dbo].[SelfOrder] ([自選訂單ID], [會員ID], [自選訂單編號], [入住時間], [退住時間], [露營天數], [預計人數], [營區細項ID], [自選飲食ID], [租賃商店ID], [租借總價], [自選訂單總價], [評論], [評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, 1, N'sef002', CAST(N'2019-12-23T00:00:00.000' AS DateTime), CAST(N'2019-12-25T00:00:00.000' AS DateTime), 3, 5, 4, 4, 4, 1200, 9900, N'舒服，大自然，餐點也還行，服務到位', 4, NULL, NULL, NULL, NULL)
INSERT [dbo].[SelfOrder] ([自選訂單ID], [會員ID], [自選訂單編號], [入住時間], [退住時間], [露營天數], [預計人數], [營區細項ID], [自選飲食ID], [租賃商店ID], [租借總價], [自選訂單總價], [評論], [評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, 2, N'sef003', CAST(N'2020-03-15T00:00:00.000' AS DateTime), CAST(N'2020-03-20T00:00:00.000' AS DateTime), 6, 8, 6, 7, 2, 300, 12000, N'離市區近的風景露營區', 3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SelfOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[SetFood] ON 

INSERT [dbo].[SetFood] ([餐廳ID], [餐廳名], [餐廳電話], [地址], [餐點細項], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, N'馬家堡', N'0226617873', N'新北市烏來區大羅蘭47號', N'10人合菜--牧草雞、炸苦瓜於、炸溪蝦、炒山豬肉等，原住民小炒', NULL, NULL, NULL, NULL)
INSERT [dbo].[SetFood] ([餐廳ID], [餐廳名], [餐廳電話], [地址], [餐點細項], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, N'梅后秘境-咖啡廳', N'0903491832', N'新竹縣五峰鄉', N'泰雅族原住民風味餐', NULL, NULL, NULL, NULL)
INSERT [dbo].[SetFood] ([餐廳ID], [餐廳名], [餐廳電話], [地址], [餐點細項], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, N'營主私房風味', N'0912345678', N'苗栗縣南庄5鄰64-2號', N'營主私房風味桶仔雞、清蒸鱒魚等，營主私房菜', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SetFood] OFF
GO
SET IDENTITY_INSERT [dbo].[SetOrder] ON 

INSERT [dbo].[SetOrder] ([套裝訂單ID], [套裝行程ID], [會員ID], [套裝訂單編號], [入住時間], [退住時間], [預計人數], [合計總價], [評論], [評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, 1, 5, N'set001', CAST(N'2019-05-01T00:00:00.000' AS DateTime), CAST(N'2019-05-02T00:00:00.000' AS DateTime), 5, 6400, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SetOrder] ([套裝訂單ID], [套裝行程ID], [會員ID], [套裝訂單編號], [入住時間], [退住時間], [預計人數], [合計總價], [評論], [評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, 4, 4, N'set002', CAST(N'2019-12-23T00:00:00.000' AS DateTime), CAST(N'2019-12-25T00:00:00.000' AS DateTime), 5, 14000, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SetOrder] ([套裝訂單ID], [套裝行程ID], [會員ID], [套裝訂單編號], [入住時間], [退住時間], [預計人數], [合計總價], [評論], [評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, 2, 6, N'set003', CAST(N'2020-03-15T00:00:00.000' AS DateTime), CAST(N'2020-03-17T00:00:00.000' AS DateTime), 3, 6000, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SetOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[SetOrderDetail] ON 

INSERT [dbo].[SetOrderDetail] ([套裝行程ID], [營地ID], [營區細項ID], [餐廳ID], [套裝方案], [套裝細項], [套裝行程價格], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, 10, 9, 5, N'兩天一夜', N'固定式帳棚(有床)', 3200, NULL, NULL, NULL, NULL)
INSERT [dbo].[SetOrderDetail] ([套裝行程ID], [營地ID], [營區細項ID], [餐廳ID], [套裝方案], [套裝細項], [套裝行程價格], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, 2, 8, 3, N'三天兩夜', N'固定式帳棚(有床)', 6000, NULL, NULL, NULL, NULL)
INSERT [dbo].[SetOrderDetail] ([套裝行程ID], [營地ID], [營區細項ID], [餐廳ID], [套裝方案], [套裝細項], [套裝行程價格], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, 5, 1, 2, N'四天三夜', N'固定式帳棚(有床)', 8500, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SetOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopDetail] ON 

INSERT [dbo].[ShopDetail] ([商品細項ID], [品牌名稱], [產品名稱], [產品說明], [產品圖片], [庫存], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, N'仙德曼', N'瑯磁吸杯', N'耐溫度達800度C以上 琺瑯材質不僅美觀 更具備食物料理不留殘味的特點', N'c3a8c983-ddd9-4a89-af28-642953f8c4e6.jpg', 999, 230, NULL, NULL, NULL, NULL)
INSERT [dbo].[ShopDetail] ([商品細項ID], [品牌名稱], [產品名稱], [產品說明], [產品圖片], [庫存], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, N'山趣', N'支撐三腳架', N'多功能小型支架，可固定在各種桌子上，通過安裝軸可進行高度調整', N'4dd62dec-d764-4126-afd2-5d10e8ec4030.jpg', 999, 235, NULL, NULL, NULL, NULL)
INSERT [dbo].[ShopDetail] ([商品細項ID], [品牌名稱], [產品名稱], [產品說明], [產品圖片], [庫存], [單價], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, N'山趣', N'折疊水桶', N'極度耐用也可以折疊', N'e4f93816-8472-4a62-8f73-87687b9eaaa9.jpg', 999, 550, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ShopDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopOrder] ON 

INSERT [dbo].[ShopOrder] ([商店ID], [商品細項ID], [會員ID], [商店訂單編號], [成立時間], [細項], [總價], [購物評價], [購物評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (1, 1, 5, N'shop001', CAST(N'2020-12-01T00:00:00.000' AS DateTime), N'瑯磁吸杯,客廳帳', 4830, N'帳篷品質不錯 杯子小貴', 87, NULL, NULL, NULL, NULL)
INSERT [dbo].[ShopOrder] ([商店ID], [商品細項ID], [會員ID], [商店訂單編號], [成立時間], [細項], [總價], [購物評價], [購物評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (2, 7, 7, N'shop002', CAST(N'2020-02-11T00:00:00.000' AS DateTime), N'羊毛睡袋,熱壺', 4820, N'睡袋保暖 下次會回購', 77, NULL, NULL, NULL, NULL)
INSERT [dbo].[ShopOrder] ([商店ID], [商品細項ID], [會員ID], [商店訂單編號], [成立時間], [細項], [總價], [購物評價], [購物評分], [建立人], [建立時間], [修改人], [修改時間]) VALUES (3, 4, 8, N'shop003', CAST(N'2019-03-16T00:00:00.000' AS DateTime), N'折疊水桶,小森椅', 900, N'水桶有破洞 客服態度良好', 77, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ShopOrder] OFF
GO
ALTER TABLE [dbo].[ActDetail]  WITH CHECK ADD  CONSTRAINT [FK_tLocalCampaign_tCampSite] FOREIGN KEY([營區ID])
REFERENCES [dbo].[Camp] ([營區ID])
GO
ALTER TABLE [dbo].[ActDetail] CHECK CONSTRAINT [FK_tLocalCampaign_tCampSite]
GO
ALTER TABLE [dbo].[CampDetail]  WITH CHECK ADD  CONSTRAINT [FK_tCampDetale_tCampSite] FOREIGN KEY([營區ID])
REFERENCES [dbo].[Camp] ([營區ID])
GO
ALTER TABLE [dbo].[CampDetail] CHECK CONSTRAINT [FK_tCampDetale_tCampSite]
GO
ALTER TABLE [dbo].[CampDetail]  WITH CHECK ADD  CONSTRAINT [FK_tCampDetale_tLocalCampaign] FOREIGN KEY([活動ID])
REFERENCES [dbo].[ActDetail] ([活動ID])
GO
ALTER TABLE [dbo].[CampDetail] CHECK CONSTRAINT [FK_tCampDetale_tLocalCampaign]
GO
ALTER TABLE [dbo].[CampDetail]  WITH CHECK ADD  CONSTRAINT [FK_tCampDetale_項目] FOREIGN KEY([露營形式ID])
REFERENCES [dbo].[CampStyle] ([露營形式ID])
GO
ALTER TABLE [dbo].[CampDetail] CHECK CONSTRAINT [FK_tCampDetale_項目]
GO
ALTER TABLE [dbo].[SelfOrder]  WITH CHECK ADD  CONSTRAINT [FK_自選行程訂單_tCampDetale] FOREIGN KEY([營區細項ID])
REFERENCES [dbo].[CampDetail] ([營區細項ID])
GO
ALTER TABLE [dbo].[SelfOrder] CHECK CONSTRAINT [FK_自選行程訂單_tCampDetale]
GO
ALTER TABLE [dbo].[SelfOrder]  WITH CHECK ADD  CONSTRAINT [FK_自選行程訂單_租賃商店] FOREIGN KEY([租賃商店ID])
REFERENCES [dbo].[RentDetail] ([租賃商店ID])
GO
ALTER TABLE [dbo].[SelfOrder] CHECK CONSTRAINT [FK_自選行程訂單_租賃商店]
GO
ALTER TABLE [dbo].[SelfOrder]  WITH CHECK ADD  CONSTRAINT [FK_自選行程訂單_飲食] FOREIGN KEY([自選飲食ID])
REFERENCES [dbo].[SelfFood] ([自選飲食ID])
GO
ALTER TABLE [dbo].[SelfOrder] CHECK CONSTRAINT [FK_自選行程訂單_飲食]
GO
ALTER TABLE [dbo].[SelfOrder]  WITH CHECK ADD  CONSTRAINT [FK_自選行程訂單_會員資料庫] FOREIGN KEY([會員ID])
REFERENCES [dbo].[MemberInfo] ([會員ID])
GO
ALTER TABLE [dbo].[SelfOrder] CHECK CONSTRAINT [FK_自選行程訂單_會員資料庫]
GO
ALTER TABLE [dbo].[SetOrder]  WITH CHECK ADD  CONSTRAINT [FK_set訂單_set行程] FOREIGN KEY([套裝行程ID])
REFERENCES [dbo].[SetOrderDetail] ([套裝行程ID])
GO
ALTER TABLE [dbo].[SetOrder] CHECK CONSTRAINT [FK_set訂單_set行程]
GO
ALTER TABLE [dbo].[SetOrder]  WITH CHECK ADD  CONSTRAINT [FK_set訂單_會員資料庫] FOREIGN KEY([會員ID])
REFERENCES [dbo].[MemberInfo] ([會員ID])
GO
ALTER TABLE [dbo].[SetOrder] CHECK CONSTRAINT [FK_set訂單_會員資料庫]
GO
ALTER TABLE [dbo].[SetOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_set行程_set餐廳] FOREIGN KEY([餐廳ID])
REFERENCES [dbo].[SetFood] ([餐廳ID])
GO
ALTER TABLE [dbo].[SetOrderDetail] CHECK CONSTRAINT [FK_set行程_set餐廳]
GO
ALTER TABLE [dbo].[SetOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_set行程_tCampDetale] FOREIGN KEY([營區細項ID])
REFERENCES [dbo].[CampDetail] ([營區細項ID])
GO
ALTER TABLE [dbo].[SetOrderDetail] CHECK CONSTRAINT [FK_set行程_tCampDetale]
GO
ALTER TABLE [dbo].[SetOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_set行程_tCampSite] FOREIGN KEY([營地ID])
REFERENCES [dbo].[Camp] ([營區ID])
GO
ALTER TABLE [dbo].[SetOrderDetail] CHECK CONSTRAINT [FK_set行程_tCampSite]
GO
ALTER TABLE [dbo].[ShopOrder]  WITH CHECK ADD  CONSTRAINT [FK_購物訂單_會員資料庫] FOREIGN KEY([會員ID])
REFERENCES [dbo].[MemberInfo] ([會員ID])
GO
ALTER TABLE [dbo].[ShopOrder] CHECK CONSTRAINT [FK_購物訂單_會員資料庫]
GO
ALTER TABLE [dbo].[ShopOrder]  WITH CHECK ADD  CONSTRAINT [FK_購物訂單_購物商店] FOREIGN KEY([商品細項ID])
REFERENCES [dbo].[ShopDetail] ([商品細項ID])
GO
ALTER TABLE [dbo].[ShopOrder] CHECK CONSTRAINT [FK_購物訂單_購物商店]
GO
USE [master]
GO
